.create-modal{
    border: 1px solid #2a282b;
    position: relative;
    background: white;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 10px 40px 0px rgba(0,0,0,0.75);
    height: 440px;
    width: 700px;
    margin: auto;
    margin-top: 100px;

    input, select{
      width: 60%;
      margin: 4px;
     }
     p{
       margin-left: 4px;
       margin-right: 4px;
       text-align: center;
       font-size: 10px
     }

     textarea{
       margin-right: 4px;
       margin-left: 4px;
       margin-right: 4px;
       margin-left: 4px;
       height: 114px;
     }

     button{
       cursor: pointer;
       height: 24px;
       width: 112px;
       text-align: center;
       border-radius: 3px;
       background: whitesmoke;
       margin-bottom: 6px;
       margin-left: 4px;
     }
     button:hover{
       background: rgba(128, 0, 128, 0.42);
     }
     .x-button{
       position: relative;
       left: 686px;
       z-index: 1;
       cursor: pointer;
     }
     .x-button:hover{
       text-decoration: underline;
     }
}

.create-modal-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.create-modal-details{
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  background: rgba(146, 85, 146, 0.39);
}


.modal-image-upload{
  width: 55%;

}
 .creation-map{
   height: 52%;
   width: 100%;
 }

.add-image-thumbnail{
  width: 100%;
  height: 210px;
  position: relative;
}


.create{
  position: relative;
  left: 93px;
  top: 20px;
  border: 1px solid blueviolet;
}

.upload{
  cursor: pointer;
  height: 24px;
  width: 112px;
  text-align: center;
  border: 1px solid blueviolet;
  border-radius: 3px;
  margin-bottom: 6px;
  margin-top: 7px;
  margin-left: 4px;
  position: relative;
  left: 95px;
}
