.index-page{
  height: 100%;
  width: 100%;
}



.index-page-body {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 870px;
  flex-direction: row;
  justify-content: space-around;
  background: url(http://res.cloudinary.com/dfld7chk4/image/upload/v1467248171/SanFrancisco_0_ptyqri.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: scroll;
}


.themap {
  margin: 10px;
  width: 57%;
  height: 295px;
  right: 11%;
  position: relative;
  border: 1px solid black;
 }


 .searchContent{
   height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

.filter-bar{
  background: #813b8c;
  color: white;
  opacity: 0.7;
  display: flex;
  height: 34%;
  flex-wrap: wrap;
  overflow: scroll;
  width: 232px;
  justify-content: space-around;
  border-radius: 4px;
  position: relative;
  left: 30.5%;
  bottom: 35%;

  h4{
    text-decoration: underline;
    text-align: center;
    text-indent: 40px;
    position: relative;
    top: 4px;
  }
  h5{
    padding-right: 5px
  }
  p{
    text-align: center;
  }
  form {
    align-self: center;
    position: relative;
    top: -7px;
    input {
      width: 64%;
      align-self: center;
    }
    .start-time, .end-time {
      width: 45%
    }
    h7{
      position: relative;
      top:3px
    }
  }

  div, h5{
    display: flex;
    align-items: center;
  }

  p{
    font-size: 12px;
  }
  button {
    cursor: pointer;
    height: 24px;
    width: 100px;
    text-align: center;
    align-self: center;
    border: 0.5px solid white;
    border-radius: 3px;
  }

  button:hover{
    background: rgba(128, 0, 128, 0.8);
  }
}

.filter-bar form {
  position: relative;
  top: -7px;
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
}



 .venue-items {
   height: 100%;
   width: 95%;
   display: flex;
   flex-wrap: wrap;
   position: relative;
   top: -34%;
   overflow: scroll;
 }


.venue-list-item {
    height: 270px;
    width: 270px;
    padding: 5px;
    color: black;
    cursor: pointer;
    float: left;
    background: white;
    overflow: hidden;
    position: relative;
    margin: 10px;
    margin-top: 20px;
    transition: transform, .3s, height, margin
}

.venue-list-item:hover{
  height: 310px;
  margin-top: 2px;

.about-elipsed{
  width: 100%;
  position: relative;
  bottom: 23px;
  right: 3px;
  margin-left: 4px;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
  }
}

.about-elipsed{
  width: 100%;
  margin-left: 4px;
  font-size: 15px;
  font-weight: 900;
  transition: transform, .2s, position
}

.index-title{
  text-align: center;
  font-size: 22px;
  color: white;
  position: relative;
  bottom: 133px;
  text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 1050px) {
  .filter-bar{
    background: black;
    height: 25%;
    flex-wrap: wrap;
    overflow: scroll;
    width: 68%;
    max-width: 327px;
    justify-content: space-around;
    border-radius: 4px;
    position: relative;
    left: 0;
    bottom: 0;

    h4{
      position: relative;
      left: 8%;
    }
    button{
      position: relative;
      right: 13px;
      top: 43px;
    }
  }

  .venue-items{
    top: 0%;
    position: inherit;
  }

  .themap{
    right: 0%;
    height: 240px;
  }
}
