

.venue-modal {
  border: 1px solid #2a282b;
  position: relative;
  background: white;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  box-shadow: 2px 10px 40px 0px rgba(0,0,0,0.75);
  height: 400px;
  width: 700px;
  margin: auto;
  margin-top: 100px
}

.venue-modal-content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  background: #f7f7f7;
}

.the-modal{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal-thumbnail{
  height: 230px;
  width: 290px;
}

.map {
  height: 200px;
  width: 33%;
}

.map-thumbnail-content{
  display: flex;
  flex-direction: row;

  .modal-thumbnail{
    height: 59%;
    width: 37%;
  }
}

.top-content{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h5{
    text-decoration: underline;

  }
}

.small-details {
  display: flex;
  flex-direction: column;
  height: 113px;
  overflow: scroll;
  h1{
    font-weight: bold;
    align-self: center
  }
  h1, text {
    margin-top: 10px;
  }
}

.close-button {
  position: relative;
  top: -328px;
  right: 5px;
}

button {
  cursor: pointer;
}


.modal-nav-bar{
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(119, 50, 119, 0.82);
  color: black;
  a{
    cursor: pointer;
  }
  a:hover{
    color: white;
  }
}



.white{
  color: white;
}
