.manager-modal{
    border: 1px solid #2a282b;
    position: relative;
    background: white;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 10px 40px 0px rgba(0, 0, 0, 0.75);
    height: 400px;
    width: 650px;
    margin: auto;
    margin-top: 100px;
}

.manage-venues-content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
width: 100%;
height: 100%;
flex-direction: row;
background-image: url(http://res.cloudinary.com/dfld7chk4/image/upload/v1468207508/watercolor-grunge-000030-medium-blue_bra7pj.jpg);
}

.VenueDisplay{
  width: 87%;
  margin-top: 20px;
  padding-left: 1px;
  align-content: center;
  position: relative;
  left: 45px;
  button{
    text-align: center;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
  }
}

.expand-collapse-button{
  border:1px solid #7d99ca;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   font-size: 16px;
   font-family:arial, helvetica, sans-serif;
   display:inline-block;
   text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
   font-weight:bold;
   color: #FFFFFF;
   background-color: #a5b8da;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
   background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
   background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
   background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
   background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
   background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.expand-collapse-button:hover{
  border:1px solid #5d7fbc;
  background-color: #819bcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
  background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
  background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
  background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
  background-image: -o-linear-gradient(top, #819bcb, #536f9d);
  background-image: linear-gradient(to bottom, #819bcb, #536f9d);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}




.number-of-occasions{
  font-size: 12px;
}
.another-close-button{
  position: fixed;
  margin-left: 634px;
  font-weight: 600;
}
.another-close-button:hover{
  text-decoration: underline;
}

.modal-venues{
  display: flex;
  overflow: scroll;
  flex-direction: column;
  width: 43%;
  margin-right: 45px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  top: 31px;
  height: 88%;

  .title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 23px;
    position: fixed;
    color: whitesmoke;
    margin-left: 109px;
  }
  .small-detail{
    color: red;
    text-decoration: underline;
    font-size: 11px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
  }

  span{

  }
}

.occasion-submit{
  position: relative;
  width: 94px;
  font-size: 20px;
  align-self: center;
}

.form-occasions{
  margin-top: 52px;
  overflow: scroll;
}

.occasion-form{
  display: flex;
flex-direction: column;
justify-content: space-between;
height: 130px;
margin-bottom: 44px;
}


.manage-modal-thumbnail{
  height: 159px;
  width: 213px;
}



.occasions-list{
  margin-bottom: 34px;
  width: 76%;
  margin-right: 0;
  text-align: center;
  align-self: center;

  ul{
    margin-bottom: 28px;
    border-radius: 4px;
    width: 100%;
    margin-right: 0;
    background: rgba(146, 85, 146, 0.39);
    text-align: center;
    align-self: center;
    position: relative;
    left: 34px;
  }
}
