// Place all the styles related to the api/occasions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.occasion-pic{
  height: 74%;
  width: 45%;
  margin-right: 11px;
  border-radius: 6px;
  opacity: 0.9;
}

.occasion-box{
  width: 100%;
height: 369px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: initial;
background: whitesmoke;
  span{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 53%;
    //
    // overflow: scroll;
      h2{
        align-self: center;
      margin-top: 10px;
      background: white;
      padding: 3px;
      left: 176px;
      position: relative;
      text-align: center;
      width: 202%;
      font-size: 19px;
      font-family: 'Lato', sans-serif;
      }
  }
}

.occasion-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 100%;
  width: 390px;
}

.occasions-map{
  display: flex;
  flex-direction: column;
  color: #2f2d2f;
  width: 45%;
  height: 290px;
  top: 6px;
  position: relative;
  overflow: scroll;
}


.occasion-item{
  display: flex;
height: 61px;
width: 90%;
margin-top: 10px;
justify-content: flex-start;
flex-direction: row;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
background: white;
}

.time-third{
  width: 40%;
  position: relative;
  right: 5%;
  display: flex;
  align-items: center;
  p{
    position: relative;
  }
}

.date-third{
  width: 33%;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: space-around;
  h4{
    width: 56%;
  }
}

.button-third{
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid #ccc;
}

.volunteer{
  height: 102%;
  width: 100%;
  text-align: center;
  background: #94b0ff;
  opacity: 0.9;
  transition: background 1s, color 1.5s;
  box-shadow: 0 2px 0px 1px rgba(128, 128, 128, 0.3);
}
.volunteer:hover{
  background: #183994;
  color: white;
}


.cancel{
  height: 102%;
    width: 100%;
    text-align: center;
    background: #f9a4a4;
    opacity: 0.9;
    box-shadow: 0 2px 0px 1px rgba(128, 128, 128, 0.3);
}

.cancel:hover{
  background: #e62424;
}

.matches{
  h3{
    text-decoration: underline;
    font-size: 18px;
  }
  width: 100%;
min-height: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.non-matches{
  h3{
    text-decoration: underline;
    font-size: 18px;
  }
  .no-more-times{
    font-size: 10px;
    font-style: italic;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7px;
}

.modal-close-button{
  position: relative;
  top: -367px;
  right: 2px;
  font-weight: 600;
}

.modal-close-button:hover{
  text-decoration: underline;
}




.date-as-calendar {
  font-variant: normal;
font-style: normal;
font-weight: normal;
font-family: "Helvetica", "Arial", sans-serif;
vertical-align: top;
height: 100%;
color: black;
background: white;
background: linear-gradient(to bottom right, #FFF 0%, #EEE 100%);
width: 81px;
border: 1px solid #888;
border-radius: 3px;
overflow: hidden;
position: relative;
right: 13px;
margin-right: 9px;
box-shadow: 2px 2px 2px -2px #ccc;
}
.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year {
  text-align: center;
  width: 100%;
  line-height: 1.0;
  height: 30%;
}
.date-as-calendar .month {
  font-family: "Oswald", sans-serif;
  background: rgba(117, 50, 109, 0.38);
}
.date-as-calendar .year{
  border-top: 1px solid #ccc;
}
