header {
  color: black ;
  font-family: Tahoma, sans-serif;
  height: 60px;
  font-size: 16px;
  border-bottom: 1px solid white;

  img, a {
    cursor: pointer;
  }

  a {
    padding: 0 10px;
    border-right: 0.3px solid black;
  }

  div{
    height: 100%
  }
}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;

  a:hover{
    font-size: 22px;
    // background: #e4d5d5;
    // border-radius: 10px;
    // border: 0px
  }
}

.header-logo{
  height: 100%;
  width: 8%;
  position: relative;
}

.header-right{

  width: 20%;
  height: 37%;
  font-size: 20px;
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
}

.siteName{
  font-size: 40px;
  position: relative;
  right: -6%;
  top: 6px;
  text-shadow: 2px 2px white;
}

.logger{
  border-left: 0.3px solid black;
  border-right: 0px
}


.headerloggermodal {
    position: relative;
    margin: auto;
    top: 100px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 281px;
    width: 540px;
    padding: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-x{
  align-self: baseline;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  align-items: center;
}

.demo-form{
  align-self: center;
}


.log-in-form, .demo-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.demo-form input{
  position: relative;
}

.login-input{
  margin-top: 14px;
  width: 202px;
  height: 31px;
}
