header {
  color: black ;
  font-family: Tahoma, sans-serif;
  height: 78px;
  font-size: 112%;
  background: white;

  img, a {
    cursor: pointer;
    margin-left: 20px;
  }


  div{
    height: 100%
  }
}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;

  a:hover{
    text-decoration: underline;
    // background: #e4d5d5;
    // border-radius: 10px;
    // border: 0px
  }
}

.manager{
  display: flex;
}

.header-logo{
  height: 83%;
  width: 21%;
  position: relative;
  top: 5px;
  margin-left: 10px;
}

.header-right{
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
  margin-right: 1%;

  a:hover{
    text-decoration: underline;

  }
  .logger:hover{
    right: -0.5px;
  }

  .logger{
    margin-left: 20px;
  }

}


.log-in-n-out{
  display: flex;
  justify-content: space-between;
}

.siteName{
  display: flex;
  width: 44%;
}

.site-title{
  width: 59%;
  position: relative;
  top: -3px;
}


.headerloggermodal {
    position: relative;
    margin: auto;
    top: 100px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 281px;
    width: 540px;
    padding: 20px;
    background: white;
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-x{
  font-weight: 600;
  align-self: baseline;
  position: relative;
  bottom: 18px;
  left: 16px;
  color: black;
}

.button-x:hover{
  text-decoration: underline;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  align-items: center;
}

.demo-form{
  align-self: center;
}


.log-in-form, .demo-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  .sign-in-errors, h3{
    font-size: 11px;
    align-self: baseline;
    position: relative;
    color: red;
    left: 24px;
    top: 3px;
  }
}

.demo-form input{
  position: relative;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    background: white;
    border: 1px solid #ccc;
}

.demo-form input:hover{
  color: #333;
  background-color: rgba(189, 180, 180, 0.28);
  border-color: #adadad;
}



.login-input{
  margin-top: 11px;
  width: 202px;
  height: 31px;
  border: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-input:focus{
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.submit{
  margin-top: 10px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 0 white;
  border: 1px solid #ccc;
}

.submit:hover{
  color: #333;
  background-color: rgba(189, 180, 180, 0.28);
  border-color: #adadad;
}

@media only screen and (max-width: 842px) {
  .site-title{
    width: 0%;
    position: relative;
    top: 0px;

  }
}
